<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastre-se em nosso site!</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<a href="/">
    <img src="static/images/arrow_return.png" alt="" />
</a>
  <section class="boxLogin container">
    <div class="content">

      <form action="/cadastrarusuario" class="login" method="post" name="login" enctype="multipart/form-data">
        <h1><i class="icon icon-key-1"></i> Cadastro</h1>
        <div class="padding">
          <label>
            <input type="text" class="campos" required placeholder="Nome" name="nome">
          </label>
          <label>
            <input type="text" class="campos" required placeholder="E-mail" name="email">
          </label>
          <label>
            <input type="password" class="campos" required placeholder="Senha"  name="senha">
          </label>
          <input type="submit" class="btn fade_8S" name="login" value="Cadastrar">
        </div>
      </form>
 </div>
 </section>
</body>
</html>