<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Supermercado Católica</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
<a href="/home">
    <img src="static/images/arrow_return.png" alt="" />
</a>

  <section class="boxLogin container">
    <div class="content">

      <form action="/inserircompra" class="login" method="post" name="login" enctype="multipart/form-data">
        <h1>Inserir compra</h1>
        <div class="padding">
          <label>
            <input type="text" class="campos" required placeholder="id" name="nomeproduto">
          </label>
          <label>
            <input type="text" class="campos" required placeholder="Marca do Produto"  name="marca">
          </label>
          <label>
            <input type="date" class="campos" required placeholder="validade"  name="validade">
          </label>
          <label>
            <input type="text" class="campos" required placeholder="Preço"  name="preco">
          </label>
          <label>
            <input type="text" class="campos" required placeholder="Quantidade Disponivel"  name="quantidade_disponivel">
          </label>

          <input type="file" class="btn fade_8S" required value="Arquivo" name="file">

            <label>
              <input type="submit" class="btn fade_8S" value="Cadastrar" name="login">
          </label>
        </div>
      </form>
 </div>
 </section>
</body>
</html>